<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h2 id="panel-h2">基本情報
    	<%= link_to "（プロフィール編集）" , edit_user_path	 , class: "btn btn-primary btn-sm"%>
    </h2>
  
  </div>

  <div class="panel-body">

    <h3>
    	<span class="label label-primary">E-Mail</span>
    	<span class="label label-default"><%= @user.email %></span>
    </h3>

		<h3>
	    <span class="label label-success">血液型</span>
	    <span class="label label-default"><%= @user.blood %></span>
	  </h3>
  

		<h3>	 
  		<span class="label label-info label-lg">誕生日</span>	
  	 	<span class="label label-default"><%= @user.birthday %></span>
  	</h3>

		<h3>	 
  		<span class="label label-info label-lg">年　齢</span>	
  	 	<span class="label label-default"><%= @age %></span>
  	</h3>

		<h3>
			<span class="label label-warning">出身地</span>
			<span class="label label-default"><%= @user.birthplace %></span>
			</p>
		</h3>

  </div>
</div>


<div class="container">

</div>

