<div claas="row">
  <aside class="col-md-4">
    <section class="user_info">    
      <h1>
      	<%= gravatar_for @user %>
      	<%= @user.name %>
      </h1>
    </section>
    <p>
      <span class="label label-danger">E-Mail</span>
      <span class="label label-default"><%= @user.email %></span><br>
      <span class="label label-success">血液型</span>
      <span class="label label-default"><%= @user.blood %></span><br>
      <span class="label label-info label-lg">誕生日</span>  
      <span class="label label-default"><%= @user.birthday %></span><br>
      <span class="label label-info label-lg">年　齢</span>  
      <span class="label label-default"><%= @age %></span><br>
      <span class="label label-warning">出身地</span>
      <span class="label label-default"><%= @user.birthplace %></span>
    </p>
  </aside>
  <div class="col-md-8">

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= link_to "フォロー中", followings_user_path , class: "btn btn-success" %>
      </div>
      <div class="btn-group" role="group">
         <%= link_to "フォロワー", followers_user_path , class: "btn btn-warning" %>
      </div>
    </div>

    <h3><%= @title %> (<%= @users.count %>)</h3>
    <ol class="microposts">
      <% @users.each do |user| %>
        <li id="user-<%= user.id %>">
          <%= link_to gravatar_for(user, size: 50), user %>
          <span class="user"><%= link_to user.name, user %></span>
          <div class="clearfix"></div>
        </li>
      <% end %>
    </ol>
  </div>
</div>
